[flake8]
max-line-length = 88
extend-ignore = E203
ignore = D203, F722
exclude =
    frontend/,
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    venv,
    .venv,
    .env,
    migrations,
    addons,
    addons-dev,
    settings.py,
max-complexity = 10
